* {
    padding: 0;
    margin: 0;
}

.quote-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: grey;
}

#quote-box {
    background: white;
    padding: 40px 50px;
    width: 450px
}